/* IGNORE!!! */
/* body {
    background-image: url(https://plus.unsplash.com/premium_photo-1664300880026-6c8d06d92493?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}  */

* {
    color: white;
}
#game-board {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
    font-size: 20px;
    }

#letter {
    width: 40px;
    font-size: 30px;
    text-align: center;
    border-bottom: 5px solid white;
}

#open-space {
    display: flex;
    gap: 20px;
    list-style: none;
}

#levels-and-hint {
    display: grid;
    grid-row-start: 3;
    grid-column-start: 5;
    gap: 50px;
    height: 300px;
    width: 200px;
}

footer {
    grid-row: 5 / 5;
}

#wrong-choices {
    display: grid;
    grid-row: 3;
}

#hidden-word {
    height: 50px;
    font-size: 40px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    border-width: 5px;
    border-radius: 20%;
    border-color: rgb(255, 200, 55);
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    border-width: 5px;
    border-radius: 50%;
    border-color: rgb(255, 200, 55);
}