

* {
    color: white;
    font-family: comic sans ms;
}
#game-board {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-size: 20px;
    margin: 0 40px 0 40px;
    }

#letter {
    width: 40px;
    font-size: 30px;
    text-align: center;
    border-bottom: 2px solid white;
    color:rgb(255, 200, 55)
}

#open-space {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 100px
}

#levels-and-hint {
    display: grid;
    grid-row-start: 3;
    grid-column-start: 5;
    gap: 20px;
    height: 300px;
    width: 200px;
}

footer {
    grid-row: 4;
}

#wrong-choices {
    display: grid;
    grid-column-start: 5;
    grid-row-start: 2;
    padding: 70px 0 0 0;
}

#hidden-word {
    height: 50px;
    font-size: 40px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    border-width: 5px;
    border-radius: 20%;
    border-color: rgb(255, 200, 55);
}

h1 {
   margin: 0 0 100px 0;
}

button {
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    border-width: 5px;
    border-radius: 50%;
    border-color: rgb(255, 200, 55);
}

#word-section {
    display: grid;
    grid-row: auto;
    
}

main {
    grid-row-start: 2;
}
