/* IGNORE!!! */
/* body {
    background-image: url(https://plus.unsplash.com/premium_photo-1664300880026-6c8d06d92493?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}  */

#title,
#lives,
#score,
#wrong-choices,
#open-space {
    color: white;
}
#game-board {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px
    }

#open-space,
#hidden-word {
    height: 150px;
    width: 200px;
    font-size: larger;
}